.faqCont {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 2px dashed white;
    background: url("https://www.blubsui.com/pattern2.svg");
    background-color: rgb(59 130 246);
}

.faqDiv {
    width: 90%;
    height: 85%;
    border: 2px dashed rgb(245 158 11);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.705);
    position: relative;
    overflow: hidden;
    padding: 1rem 1.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    font-family: "Playpen Sans", cursive !important; 
}

.whale {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 9rem;
}

.faqHeader {
    color: rgb(245 158 11);
    font-size: 3.5rem;
    margin: 0;  
    font-family: 'Darumadrop One', sans-serif;   
}

.faqDiv h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.faqDiv p {
    font-weight: 400;
    font-size: 1rem;
}

.divider {
    height: 0.05rem;
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.coinTypeDiv {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    width: 100%;
    
}

.coinTypeDiv p {
    word-wrap: break-word;
    max-width: 80%;
}

.blueText {
    color: rgb(0, 110, 255);
}

.lightBlueText {
    color: lightblue;
}

.greenText {
    color: green;
}