.tradingCont {
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    gap: 1rem;
    font-family: "Playpen Sans", cursive !important;
    font-size: 1.3rem;
    text-align: center; 
}