.tradingCont {
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    gap: 1rem;
    background: url('https://www.blubsui.com/sui.svg');
    background-color: rgb(15 23 42);
    font-family: "Playpen Sans", cursive !important;
    font-size: 1.3rem;
    text-align: center; 
}

.upperFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75%;
    gap: 1rem;
}

.tradingBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tradingBtn {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10px;
    background-color: rgb(73, 73, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.1s;
}

.tradingBtn:hover {
    scale: 1.2;
}

.tradingBtn img {
    object-fit: contain;
    width: 70%;
    border-radius: inherit;
}

.bottomContact {
    background-color: rgb(56 189 248);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    gap: 1rem;
}

.bottomContactIcon {
    width: 2.5rem !important;
    height: 2.5rem !important;
    color: black;
}


.bottomContactIcon * {
    width: 100% !important;
    height: 100% !important;
}

@media (min-width: 705px) {
    .tradingCont {
        height: 35vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
        gap: 1rem;
        background: url('https://www.blubsui.com/sui.svg');
        background-color: rgb(15 23 42);
        font-family: "Playpen Sans", cursive !important;
        font-size: 1.6rem;
        text-align: center; 
    }
}