.welcomePageCont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100svh;
    width: 100%;
    background-color: rgb(56 189 248);
}

.menuBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;
}